/* ------------------------------------------------------------------------- */
/* Global markup, to be removed                                              */
/* ------------------------------------------------------------------------- */
html, body {
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

html,
button,
input,
select,
textarea {
  color: #595959;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #e65c56;
}

body {
  text-align: center;
  min-width: 500px;
}

#pgm-footer {
  background: #e65c56;
  margin-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}
#pgm-footer img {
  width: 100%;
}


/* ------------------------------------------------------------------------- */
/* Program related markup                                                    */
/* ------------------------------------------------------------------------- */
.pgm-help {
  color: #E65C56;
  float: right;
  font-weight: bold;
  margin: 40px 0;
  text-transform: uppercase;
}
.pgm-help i {
  margin-left: 5px;
}
.pgm-intro {
  font-size: 16px;
  line-height: 21.25px;
}
.pgm-hidden {
  display: none;
}

a.pgm-btn {
  background: #e65c56;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-weight: normal;
  padding: 10px;
  text-decoration: none;
}
a.pgm-btn:hover {
  background: #E63023;
}

.pgm-container {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  text-align: left;
  width: 1000px;
}

@media screen and (max-width: 1024px){
  .pgm-container {
    width: 760px;
  }
}
@media screen and (max-width: 768px){
  .pgm-container {
    width: 100%;
  }
}


/* ------------------------------------------------------------------------- */
/* Program subjects related markup                                           */
/* ------------------------------------------------------------------------- */
.pgm-subjects ul {
  margin: 0;
  padding: 0;
}
.pgm-subjects li {
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  padding: 10px;
  width: 25%;
}
@media screen and (max-width: 1024px){
  .pgm-subjects li {
    width: 50%;
  }
}

@media screen and (max-width: 768px){
  .pgm-subjects li {
    width: 100%;
  }
}

.pgm-program-content {
  background: #eee;
  height: 260px;
  overflow: hidden;
  position: relative;
}

.pgm-area-0 .pgm-program-content {
  background: url(../img/subject1.jpg) no-repeat center center;
  background-size: cover;
}
.pgm-area-1 .pgm-program-content {
  background: url(../img/subject2.jpg) no-repeat center center;
  background-size: cover;
}
.pgm-area-2 .pgm-program-content {
  background: url(../img/subject3.jpg) no-repeat center center;
  background-size: cover;
}
.pgm-area-3 .pgm-program-content {
  background: url(../img/subject4.jpg) no-repeat center center;
  background-size: cover;
}
.pgm-program-content-desc-bkg {
  background: rgba(0,0,0,0.9);
  bottom: 0px;
  box-sizing: border-box;
  left: 0;
  height: 55px;
  padding: 0;
  position: absolute;
  width: 100%;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
.pgm-program-content-desc {
  bottom: 0;
  box-sizing: border-box;
  font-weight: 300;
  left: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
}
.pgm-program-content-desc .pgm-area-name,
.pgm-program-content-desc .summary {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 1px black;
}
.pgm-subjects a {
  bottom: 10px;
  position: absolute;
  right: 10px;
}
@media screen and (max-width: 1024px){
  .pgm-program-content {
    height: 195px;
  }
}

@media screen and (max-width: 768px){
  .pgm-program-content {
    height: 250px;
  }
}


/* ------------------------------------------------------------------------- */
/* Program districts related markup                                          */
/* ------------------------------------------------------------------------- */
.pgm-diagnosis-map path {
  cursor: pointer;
}
.pgm-diagnosis-map path:hover {
  fill-opacity: 0.75;
}
.pgm-diagnosis-map {
  float: left;
  position: relative;
  width: 65%;
}
.pgm-diagnosis-list {
  box-sizing: border-box;
  float: right;
  padding-left: 30px;
  width: 35%;
}
.pgm-diagnosis-map-entry span {
  display: inline-block;
  padding-bottom: 20px;
}
@media screen and (max-width: 1024px){
  .pgm-diagnosis-list {
    margin-bottom: 10px;
    padding-left: 0;
  }
}

.pgm-diagnosis-list .pgm-entry {
  font-weight: bold;
}
.pgm-diagnosis-list .pgm-entry a{
  margin-left: 10px;
}

.pgm-diagnosis-list ul {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.pgm-diagnosis-list li {
  border-bottom: 1px solid #e0e0e0;
  list-style: none;
  padding: 10px;
  position: relative;
  -webkit-animation: slidein 400ms ease-in both;
  -moz-animation: slidein 400ms ease-in both;
  -o-animation: slidein 400ms ease-in both;
  animation: slidein 400ms ease-in both;
}


.pgm-diagnosis-list li:nth-child(1){ -webkit-animation-delay: 0s; animation-delay: 0s; }
.pgm-diagnosis-list li:nth-child(2){ -webkit-animation-delay: .1s; animation-delay: .1s; }
.pgm-diagnosis-list li:nth-child(3){ -webkit-animation-delay: .2s; animation-delay: .2s; }
.pgm-diagnosis-list li:nth-child(4){ -webkit-animation-delay: .3s; animation-delay: .3s; }
.pgm-diagnosis-list li:nth-child(5){ -webkit-animation-delay: .4s; animation-delay: .4s; }
.pgm-diagnosis-list li:nth-child(6){ -webkit-animation-delay: .5s; animation-delay: .5s; }
.pgm-diagnosis-list li:nth-child(7){ -webkit-animation-delay: .6s; animation-delay: .6s; }
.pgm-diagnosis-list li:nth-child(8){ -webkit-animation-delay: .7s; animation-delay: .7s; }
.pgm-diagnosis-list li:nth-child(9){ -webkit-animation-delay: .8s; animation-delay: .8s; }
.pgm-diagnosis-list li:nth-child(10){ -webkit-animation-delay: 0.9s; animation-delay: .9s; }
.pgm-diagnosis-list li:nth-child(11){ -webkit-animation-delay: 1s; animation-delay: 1s; }
.pgm-diagnosis-list li:nth-child(12){ -webkit-animation-delay: 1.1s; animation-delay: 1.1s; }
.pgm-diagnosis-list li:nth-child(13){ -webkit-animation-delay: 1.2s; animation-delay: 1.2s; }
.pgm-diagnosis-list li:nth-child(14){ -webkit-animation-delay: 1.3s; animation-delay: 1.3s; }
.pgm-diagnosis-list li:nth-child(15){ -webkit-animation-delay: 1.4s; animation-delay: 1.4s; }
.pgm-diagnosis-list li:nth-child(16){ -webkit-animation-delay: 1.5s; animation-delay: 1.5s; }

.pgm-diagnosis-list li.pgm-district {
  background: #fff0f0;
  border-bottom: 1px solid #febbbb;
}

.pgm-diagnosis-list a.pgm-btn {
  bottom: 10px;
  font-size: 0.8em;
  font-weight: 200;
  padding: 5px;
  position: absolute;
  right: 10px;
}

@media screen and (max-width: 768px){
  .pgm-diagnosis-list, .pgm-diagnosis-map {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 1024px){
  .pgm-reduces {
    font-size: 0.8em;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}
@keyframes slidein {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}